@media all and (orientation: landscape) {
  footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 70px 7%;
  }

  .menu-footer {
    color: rgb(255, 255, 255);
    margin-top: 30px;
  }

  .menu-footer ul {
    display: flex;
  }

  .social-media img {
    padding-left: 25px;
  }

  .menu-footer ul li {
    padding-right: 40px;
  }

  .menu-footer ul li span {
    visibility: hidden;
    margin-top: 8px;
    margin-left: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .menu-footer ul li:hover span{
    visibility: visible;
  }

  .all-rights-reserved {
    margin-top: 30px;
    color: rgb(255, 255, 255, .7);
  }

  .social-media-all-rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}