@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  margin: 0;
  padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

ul {
  list-style: none;
}

@media all and (orientation: landscape) {
  /*Estilização desktop*/
  .container {
    padding: 0 10%;
  }

  .main-image {
    background-image: url('./images/desktop/image-hero.jpg');
    height: 100vh;
    background-repeat: no-repeat;
  }

  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
  }

  header > span {
    display: none;
  }

  .menu-header {
    display: block;
  }

  .menu-header-desktop ul{
    display: flex;
    color: rgb(255, 255, 255);
  }

  .menu-header-desktop ul li{
    padding: 0 15px 10px 15px;
  }

  /* .menu-header-desktop ul li:hover{
    padding-bottom: 10px;
    border-bottom: solid 3px rgb(255, 255, 255);
  } */

  .menu-header-desktop ul li span {
    visibility: hidden;
    margin-top: 8px;
    margin-left: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
  }

  .menu-header-desktop ul li:hover span{
    visibility: visible;
  }

  .main-text {
    margin-left: 7%;
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans';
    font-size: 55px;
    text-transform: uppercase;
    border: solid rgb(255, 255, 255) 3px;
    margin-top: 160px;
    padding: 20px;
  }
}

@media all and (orientation: portrait) {
  .menu-header-desktop {
    display: none;
  }
  .menu-header {
    font-size: 25px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 30vh;
  }

  .menu-header ul li {
    padding: 10px 0;
    padding-left: 40px;
  }

  header > img {
    z-index: 1;
  }

  header > span {
    z-index: 1;
  }
  .main-image {
    background-image: url('./images/mobile/image-hero.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    padding: 0 7%;
  }

  header {
    padding: 0 7%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .main-text {
    width: 63%;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans';
    font-size: 35px;
    text-transform: uppercase;
    border: solid rgb(255, 255, 255) 3px;
    margin-top: 160px;
    padding: 20px 15% 20px 7%;
    margin: 25vh 7% 0 7%;
  }

  .hiden-menu-mobile {
    display: none;
  }

  .show-menu-mobile {
    display: block;
  }
}